@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 6rem !important;
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
  z-index: 50;
}

.burger input {
  display: none;
}

.calc {
  width: 100px;
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgb(31, 31, 31);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 2px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 21px;
  left: 2px;
}

.card-skill {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  &:hover {
    p {
      color: rgb(32, 32, 32);
      font-weight: bold;
    }
    & > div {
      background: #202020;
    }
  }
}

.img-proyect {
  mask-image: radial-gradient(circle, transparent, black 10%, black 70%, transparent);
}

.skill-card.time-1 {
  animation-delay: 0.1s;
}
.skill-card.time-2 {
  animation-delay: 0.2s;
}
.skill-card.time-3 {
  animation-delay: 0.3s;
}
.skill-card.time-4 {
  animation-delay: 0.4s;
}
.skill-card.time-5 {
  animation-delay: 0.5s;
}
.skill-card.time-6 {
  animation-delay: 0.6s;
}
.skill-card.time-7 {
  animation-delay: 0.7s;
}
.skill-card.time-8 {
  animation-delay: 0.1s;
}
.skill-card.time-9 {
  animation-delay: 0.15s;
}
.skill-card.time-10 {
  animation-delay: 0.25s;
}
.skill-card.time-11 {
  animation-delay: 0.35s;
}
.skill-card.time-12 {
  animation-delay: 0.45s;
}
.skill-card.time-13 {
  animation-delay: 0.55s;
}
.skill-card.time-14 {
  animation-delay: 0.65s;
}
.skill-card.time-15 {
  animation-delay: 0.75s;
}
.skill-card.time-16 {
  animation-delay: 0.85s;
}

.icons:hover {
  background-color: #dddddd;
  transition: all 0.3s ease-in-out;
}

.icons:nth-of-type(1) {
  animation-delay: 0.1s;
  &:hover {
    color: #0e3e97;
  }
}

.icons:nth-of-type(2) {
  animation-delay: 0.2s;
  &:hover {
    color: black;
  }
}

.icons:nth-of-type(3) {
  animation-delay: 0.3s;
  &:hover {
    color: #1592c4;
  }
}

.icons:nth-of-type(4) {
  animation-delay: 0.4s;
  &:hover {
    color: #541368;
  }
}

.icons:nth-of-type(5) {
  animation-delay: 0.5s;
  &:hover {
    color: #309730;
  }
}

.icons:nth-of-type(6) {
  animation-delay: 0.6s;
  &:hover {
    color: black;
  }
}

.swal2-confirm {
  background: #333232;
}

.swal2-title {
  font-weight: bold;
}

.loader {
  width: 60px;
  margin: 0 auto;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #c9c8c8 rgba(131, 129, 129, 0);
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
